body {
  background-color: #fcfdfe;
  font-family: "Questrial", sans-serif;
}

header {
  padding-top: 250px;
  padding-left: 200px;

  font-size: 60px;
  color: #2a1e55cd;
  position: fixed;
}

h2 {
  font-family: "Open Sans", sans-serif;

  float: right;
  padding-top: 200px;
  padding-right: 270px;
}
h2 a {
  color: #535f80;
  text-decoration: none;
}
h2 a:hover {
  color: rgb(203, 112, 42);
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 200px;
}

img {
  width: 360px;
  padding: 130px 300px 100px 850px;
  position: absolute;
}

nav {
  float: none;
  text-align: right;
}
nav a {
  background-color: #fcfdfe;
  color: #535f80;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
nav a:hover {
  color: rgb(203, 112, 42);
}
nav li {
  display: inline-block;
  padding-top: 30px;
  padding-right: 100px;
}
p.username {
  font-weight: bold;
  font-size: xxx-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p.titles {
  margin: 40px 0px 0px 150px;
  font-weight: lighter;
  font-size: x-large;
  font-family: "Open Sans", sans-serif;
}
p.content {
  margin: 0px 150px 150px 150px;
  font-weight: lighter;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
